{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}Tweet Sentiment Annotation{% endblock title %}</title>
    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet" media="screen">

	<link href="/static/css/style.css" rel="stylesheet">
    {%- endblock styles %}
	
    {%- endblock head %}
  </head>
  
  	

<body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
   

    {% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
	<script>
		function changeVisibility()
		{
			var table = document.getElementById("campaigns");			
			for (var i = 0, row; row = table.rows[i]; i++) {
				var ratio = row.getAttribute("data-ratio");			
				if( ratio == "100.0" ){
					if( row.style.display == 'none' )
						row.style.display='table-row';
					else
						row.style.display = 'none';
					
				}	
			}
		}
	</script>
    {%- endblock scripts %}
    
	
  <div class="container">
  
	<div class="row">
		<div class="col-md-10">
			<h1>Tweet Sentiment Annotation System</h1>
		</div>
		<div class="col-md-2" style="align:right;margin-top: 30px;">
			
			{% if current_user.get_id() != None %}
				<p>
					<a href={{url_for("hello")}} class="btn btn-info btn-xs" role="button" style="width:50px">Start</a>
					<a href={{url_for("profile")}} class="btn btn-info btn-xs" role="button" style="width:50px">Profile</a>
					<a href={{url_for("logout")}} class="btn btn-info btn-xs" role="button" style="width:50px">Logout</a>					
				</p>
			{% else %}
				<p>
					<a href={{url_for("hello")}}class="btn btn-info btn-xs" role="button" style="width:50px">Start</a>
					<a href={{url_for("login")}}class="btn btn-info btn-xs" role="button" style="width:50px">Login</a>
				</p>
			{% endif %}	
		</div>
	</div>
	
	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
	  
		{% for category, message in messages %}
			{% if category == "error" %}
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{ message }}
				</div>     
			{% elif category == "success" %}			
				<div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}		
	  {% endif %}
	{% endwith %}

	
	<div class="row" >
		<div class="col-md-10" >	
			<p><span class="label label-info">Name:</span>&nbsp&nbsp{{current_user.name}}</p>
			 

			<h3>Assigned campaigns</h3>
			<p><a href="javascript:void(0)" onclick="changeVisibility();">Show/Hide complete campaigns</a></p>
		
			<!--div style="height:450px;overflow:auto;">
				<table class="table table-hover">
					<tr >
						<th>Campaign</th>
						<th>Run</th>
						<th>Tweet</th>
						<th>Status</th>
					</tr>
					{%- for row in annotations %}
				  
					  <tr id="myRow{{loop.index-1}}">	
						<td>{{row.idCampaign}}</td>
						<td>{{row.idRun}}</td>
						<td style="text-align:left">{{row.text}}</td>
						<td>
							<select id="myList{{loop.index-1}}" name="myList{{loop.index-1}}" onchange="changePolarity({{row.to_String()|safe}})" > 
							  <option>Missing</option>
							  <option>Positive</option>
							  <option>Neutral</option>  
							  <option>Negative</option>
							</select>
						</td>
					  </tr>
				  
					{%- endfor %}
					
				</table>
			</div-->
			
			
			<div style="height:450px;overflow:auto;">
				<table id="campaigns" class="table table-hover" >
					<tr>		
						
						<td>Name</td>
						<td>Start Date</td>
						<td>End Date</td>
						<td>Status</td>
						<td>View Campaign</td>
					  </tr>
					{%- for row in campaigns %}
					  
						  <tr data-ratio="{{row.ratio}}">		
							<td>{{row.name}}</td>
							<td>{{row.startDate}}</td>
							<td>{{row.endDate}}</td>
							
							<td>
								<div class="progress" rel="tooltip" title="{{row.ratio}}%" >
								  <div class="progress-bar" role="progressbar" aria-valuenow="{{row.closed}}" aria-valuemin="0" aria-valuemax="{{row.total}}" style="width: {{row.ratio}}%;" >
								  </div>
								</div>
							</td>
							<td><a href={{url_for("viewCampaignUser", id=row.id)}}>View</a></td>
						  </tr>
					  
					{%- endfor %}
				</table>
			</div>

		</div>
		<div class="col-md-2" style="text-align:center">	
			{% if current_user.get_role() == "admin" %}
				<p class="thick">Administrator options</p>
				<p><a href={{url_for("addUser")}} class="btn btn-default btn-sm" role="button" style="width:150px">Add new user</a></p>
				<p><a href={{url_for("addUsersCSV")}} class="btn btn-default btn-sm" role="button" style="width:150px">Add users via CSV</a></p>
				<p><a href={{url_for("addScript")}} class="btn btn-default btn-sm" role="button" style="width:150px">Add new script</a></p>				
				<p><a href={{url_for("addCampaign")}} class="btn btn-default btn-sm" role="button" style="width:150px">Add new campaign</a></p>
				<p><a href={{url_for("listUsers")}} class="btn btn-default btn-sm" role="button" style="width:150px">List all users</a></p>
				<p><a href={{url_for("listScripts")}} class="btn btn-default btn-sm" role="button" style="width:150px">List all scripts</a></p>
				<p><a href={{url_for("listCampaigns")}} class="btn btn-default btn-sm" role="button" style="width:150px">List all campaigns</a></p>
			{% endif %}
			<p class="thick">User options</p>
			<p><a href={{url_for("editUser")}} class="btn btn-default btn-sm" role="button" style="width:150px">Edit my profile</a></p>
		</div>

  </div>
  
  {%- endblock body %}
</body> 
	

	
{%- endblock html %}
</html>
{% endblock doc -%}

