{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}Tweet Sentiment Annotation{% endblock title %}</title>
    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet" media="screen">
	<link href="/static/css/style.css" rel="stylesheet">
    {%- endblock styles %}
	
    {%- endblock head %}
  </head>

<body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
   

    {% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
	
    {%- endblock scripts %}
    
	
  <div class="container">
  
	<div class="row">
		<div class="col-md-10">
			<h1>Tweet Sentiment Annotation System</h1>
		</div>
		<div class="col-md-2" style="align:right;margin-top: 30px;">
			
			{% if current_user.get_id() != None %}
				<p>
					<a href={{url_for("hello")}} class="btn btn-info btn-xs" role="button" style="width:50px">Start</a>
					<a href={{url_for("profile")}} class="btn btn-info btn-xs" role="button" style="width:50px">Profile</a>
					<a href={{url_for("logout")}} class="btn btn-info btn-xs" role="button" style="width:50px">Logout</a>					
				</p>
			{% else %}
				<p>
					<a href={{url_for("hello")}}class="btn btn-info btn-xs" role="button" style="width:50px">Start</a>
					<a href={{url_for("login")}}class="btn btn-info btn-xs" role="button" style="width:50px">Login</a>
				</p>
			{% endif %}	
		</div>
	</div>
	
	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
	  
		{% for category, message in messages %}
			{% if category == "error" %}
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{ message }}
				</div>     
			{% elif category == "success" %}			
				<div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}
	  {% endif %}
	{% endwith %}
	
	<div style="height:500px;overflow:auto;">
			<table class="table table-hover" >
				<tr>
					<th>Tweet</th>
					<th>Polarity</th>
					<th>One-Shot User</th>
					<th>Annotation date</th>					
					
				</tr>
				{%- for row in annotations %}
			  
				  <tr id="myRow{{loop.index-1}}">	
					<td style="text-align:left">{{row.text}}</td>
					{% if row.polarity == "positive" %}
						<td><span class="label label-success">Positive</span></td>
					{% elif row.polarity == "neutral" %}
						<td><span class="label label-warning">Neutral</span></td>					
					{% elif row.polarity == "negative" %}
						<td><span class="label label-danger">Negative</span></td>
					{% elif row.polarity == "objective" %}
						<td><span class="label label-primary">Objective</span></td>
					{% elif row.polarity == "not clear" %}
						<td><span class="label label-info">Not clear</span></td>
					{% else %}
						<td><span class="label label-default">{{row.polarity}}</span></td>
					{% endif %}
					<td>{{row.idUser}}</td>					
					<td>{{row.annotationDate}}</td>
				  </tr>
			  
				{%- endfor %}
				
			</table>
		</div>
	</div>
	
  </div>
  
  {%- endblock body %}
</body> 
	

	
{%- endblock html %}
</html>
{% endblock doc -%}

